# Continue installation even if optional dependencies fail
# This allows the build to succeed even if usb (hardware wallet) package fails
# We don't need hardware wallet support in the web app anyway
optional=true
legacy-peer-deps=false

